Repository JulienChapron/simple-address-book: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: frontend
  trigger:
    include:
    - local: client/.gitlab-ci.yml

backend:
  stage: backend
  trigger:
    include:
    - local: server/.gitlab-ci.yml

Create LICENCE
  LICENCE
Due: none

Update LICENCE
  LICENCE
Due: none

Update README.md
  README.md
Due: none

Update contactsController.ts
  server/controllers/contactsController.ts
Due: backend

Create hex.js
  server/utils/hex.js
Due: backend

Update authController.ts
  server/controllers/authController.ts
Due: backend

Update hex.js
  server/utils/hex.js
Due: backend

Update .gitignore
  server/.gitignore
Due: backend

Update .gitignore
  client/.gitignore
Due: frontend

[fix] error with contactList and filteeredList
  client/package-lock.json
  client/public/build/bundle.css
  client/public/build/bundle.js
  client/src/components/genericBtn.svelte
  client/src/pages/contactsList.svelte
  docker-compose.yml
  server/controllers/authController.ts
  server/controllers/contactsController.ts
  server/server.ts
Due: frontend, backend

[cleancode] delete duplication hex function
  server/controllers/authController.ts
  server/controllers/contactsController.ts
  server/static/4eef6377-b7a1-406f-8a2c-557b56cd6864.png
  server/utils/convertToHex.ts
Due: backend

[cleancode] multiples if and else in controller contact
  server/controllers/contactsController.ts
Due: backend

[cleancode] delete updateController cognitive complexity
  server/controllers/contactsController.ts
Due: backend

[cleancode] delete updateController cognitive complexity
  server/controllers/authController.ts
Due: backend

[cleancode] delete updateController cognitive complexity
  server/controllers/authController.ts
  server/controllers/contactsController.ts
Due: backend

[fix] error with deno cors OAK and origin 0.0.0.0:5000
  client/Dockerfile
  client/src/layouts/footer.svelte
  node_modules/.yarn-integrity
  server/Dockerfile
  server/controllers/authController.ts
  server/controllers/contactsController.ts
  server/database/db.ts
  server/server.ts
  yarn.lock
Due: frontend, backend

[fix] add codacy
  README.md
Due: none

[fix] add node :8
  client/.eslintrc.js
  client/package.json
Due: frontend

[fix] add node :8
  client/.eslintrc.js
  client/src/global.scss
Due: frontend

[fix] add node :8
  client/.eslintrc.js
  client/jest.config.js
Due: frontend

[fix] codacy
  client/public/build/bundle.js
  client/src/global.scss
  server/database/db.ts
Due: frontend, backend

[fix ] add 2 spaces in markdown list
  README.md
Due: none

[fix] [200~[list-item-indent] Incorrect list-item indent: add 2 spaces
  README.md
Due: none

[fix] [200~[list-item-indent] Incorrect list-item indent: add 2 spaces
  client/src/components/contact.svelte
  client/src/global.scss
Due: frontend

[fix] [200~[list-item-indent] Incorrect list-item indent: add 2 spaces
  client/public/index.html
  client/src/components/contact.svelte
  client/src/components/contactItem.svelte
Due: frontend

[fix] [200~[list-item-indent] Incorrect list-item indent: add 2 spaces
  client/src/components/contact.svelte
  client/src/components/languages.svelte
  client/src/global.scss
Due: frontend

[fix] codacy error indentation
  client/src/global.scss
Due: frontend

[fix] codacy delete one space in global.scss
  client/src/global.scss
Due: frontend

Delete node_modules directory
  node_modules/.yarn-integrity
Due: none

Path conditions:
  frontend: any of: client/**/*
  backend: any of: server/**/*
